@font-face {
    font-family: 'ProggyClean';
    src: url(/src/assets/fonts/ProggyCleanNerdFont-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gallant';
    src: url(/src/assets/fonts/gallant12x22.ttf) format('truetype');
}

a {
    text-decoration: none;
    color: #CCCCFF;
}

.windowPG {
    display: flex;
    position: absolute;
    transform: translate(50%, 50%);
    width: 100%;
    height: 92%;
    bottom: 45.95%;
    right: 50%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
}

.windowPG h1 {
    margin: 25px;
    font-family: ProggyClean, monospace;
    font-size: larger;
}

.windowPG #avatar {
    margin: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
}


.albumCover {
    -webkit-user-select: none;
    user-select: none;
    max-height: 144px;
    max-width: 144px;
    margin: auto;
}

.album {
    width: 144px;
    height: 144px;
    border-style: solid;
    border-width: 5px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
}


.albumInfo {
    position: absolute;
    transition: opacity 300ms ease-in;
    opacity: 0%;
}


.contact {
    display: flex;
    margin: 10px;
    width: 88px;
    height: 31px;
    flex-direction: row;
    gap: 5px;
}

.device {
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    margin: 35px;
    font-family: ProggyClean, monospace;
    font-size: 35px;
    padding: 5px;
}

.device:hover {
    background-color: rgba(204, 204, 255, 0.95);
}

.ascii {
    font-size: 50%;
}

.pageName {
    color: azure;
}

#hyfetch {
    display: flex;
    margin: 35px;
    white-space: pre;
    font-family: Gallant, monospace;
    font-size: 24px;
    flex-direction: column;
}


#aboutMePG {
    background-color: rgba(42, 37, 49, 0.75);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-user-select: none;
    user-select: none;
}

#aboutMePG strong {
    color: #CCCCFF;
}

#avatar {
    -webkit-user-select: none;
    user-select: none;
}

#terminalPG {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    font-size: 2em;
    align-items: center;
    overflow: auto;
    
}

#terminalPG::-webkit-scrollbar {
    -webkit-scrollbar-width: none;
    scrollbar-width: none;
}

#terminalBG {
    -webkit-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
}

#cliContainer {
    display: flex;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    width: 100%;
    bottom: 45%;
    left: 1.5%;
    font-family: Gallant, monospace;
    color: #ffff;
    caret-color: #ffff;
    font-size: 20px;
    flex: 1 1 0;
    
}

#cliContainer input {
    display: flex;
    background: none;
    background-color: none;
    border: none;
    outline: none;
    font-family: Gallant, monospace;
    color: #ffff;
    font-size: 20px;
    width: 97%;
}

#cliOutput {
    display: flex;
    position: absolute;
    font-family: ProggyClean, monospace;
    font-size: 20px;
    left: 1.5%;
    top: 8%;
    flex-direction: column-reverse;
}

#musicPG {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    overflow: auto;
    -webkit-user-select: none;
    user-select: none;
}

#musicPG::-webkit-scrollbar {
    -webkit-scrollbar-width: none;
    scrollbar-width: none;
}

#albumContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

#favouritealbumsDiv {
    font-size: 32px;
    font-family: Gallant, monospace;
    font-size: 25px;
    color: #8a5375;
}

#gamesPG {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
}

#contactsPG {
    display: flex;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    justify-content: center;
    align-content: center;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    height: 92%;
    overflow: auto;
}

#contactsPG::-webkit-scrollbar {
    -webkit-scrollbar-width: none;
    scrollbar-width: none;
}

#contactContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 5px;
}

#projectsPG {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
}

#notesPG {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    flex-wrap: wrap;
    gap: 5px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    overflow: auto;
    -webkit-user-select: none;
    user-select: none;
    font-size: 30px;
}

#notesPG::-webkit-scrollbar {
    -webkit-scrollbar-width: none;
    scrollbar-width: none;
}

#noteContainer div {
    background-color: darkgrey;
    padding: 8px;
    border-style: solid;
    border-width: 5px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
}

#platforms {
    display: flex;
    position: absolute;
    gap: 1.5rem;
    bottom: 2rem;
    left: 2rem;
    -webkit-user-select: none;
    user-select: none;
}