@font-face {
    font-family: 'ProggyClean';
    src: url(/src/assets/fonts/ProggyCleanNerdFont-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gallant';
    src: url(/src/assets/fonts/gallant12x22.ttf) format('truetype');
}

a {
    text-decoration: none;
    color: #CCCCFF;
}

.windowPG {
    display: flex;
    position: absolute;
    transform: translate(50%, 50%);
    width: 100%;
    height: 92%;
    bottom: 45.95%;
    right: 50%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
}

.windowPG h1 {
    margin: 25px;
    font-family: ProggyClean, monospace;
    font-size: larger;
    width: 100%;
    height: 100%;
}

#avatar {
    margin: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
}

.albumCover {
    max-height: 144px;
    max-width: 144px;
    margin: auto;
}

.albumCover {
    max-height: 144px;
    max-width: 144px;
    margin: auto;
}

.album {
    width: 144px;
    height: 144px;
    border-style: solid;
    border-width: 5px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
}


.albumInfo {
    position: absolute;
    transition: opacity 300ms ease-in;
    opacity: 0%;
}


.contact {
    display: flex;
    width: 88px;
    height: 31px;
    flex-direction: row;
    border-style: solid;
    border-width: 3px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
}
.contact img {
    height: 31px;
    width: 88px;
}

.device {
    display: flex;
    margin: 35px;
    font-family: ProggyClean, monospace;
    font-size: 35px;
    padding: 5px;
}

.device:hover {
    background-color: rgba(204, 204, 255, 0.95);
}

.ascii {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.pageName {
    color: azure;
    font-size: 32px;
}

.pageDate {
    display: flex;
    font-size: 24px;
}

#hyfetch {
    display: flex;
    margin: 35px;
    white-space: pre;
    font-family: Gallant, monospace;
    font-size: 24px;
    flex-direction: column;
}

.gameCover {
    max-height: 225px;
    border-style: solid;
    border-width: 5px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
}

#aboutMePG {
    background-color: rgba(42, 37, 49, 0.75);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#aboutMePG strong {
    color: #CCCCFF;
}

#terminalPG {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    font-size: 2em;
    align-items: center;
    overflow: scroll;
}

#terminalBG {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
}

#cliContainer {
    display: flex;
    position: relative;
    outline: none;
    width: 100%;
    bottom: 45%;
    left: 1.5%;
    font-family: Gallant, monospace;
    color: #ffff;
    caret-color: #ffff;
    font-size: 20px;
    flex: 1 1 0;
}

#cliContainer input {
    display: flex;
    background: none;
    background-color: none;
    border: none;
    outline: none;
    font-family: Gallant, monospace;
    color: #ffff;
    font-size: 20px;
    width: 97%;
}

#cliOutput {
    display: flex;
    position: absolute;
    font-family: ProggyClean, monospace;
    font-size: 20px;
    left: 1.5%;
    top: 8%;
    flex-direction: column-reverse;
}
.neofetch {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.cli {
    margin: 2px;
}

#musicPG {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    overflow: scroll;
}

#albumContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.favouritesDiv {
    display: flex;
    font-size: 32px;
    font-family: Gallant, monospace;
    font-size: 25px;
    color: #8a5375;
    justify-content: center;
    margin: 5px;
}

#aboutMePG, #terminalPG, #musicPG, #gamesPG, #contactsPG, #projectsPG, #notesPG, #penisPG ::-webkit-scrollbar {
    -webkit-scrollbar-width: none;
    -ms-scrollbar-width: none;
    -moz-scrollbar-width: none;
    scrollbar-width: none;
}

#aboutMePG, #terminalPG, #musicPG, #gamesPG, #contactsPG, #projectsPG, #notesPG, #penisPG ::-moz-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0);
}

#gamesPG {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    overflow: scroll;
    display: flex;
}
#favGamesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#contactsPG {
    display: flex;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 92%;
    overflow: scroll;
}

#contactContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 35px;
    gap: 3px;
}

#projectsPG {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    overflow: scroll;
}

#notesPG {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(42, 37, 49, 0.75);
    overflow: scroll;
    font-size: 30px;
}
.pageContainer div {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    padding: 12px;
    width: 420px;
    height: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
    font-size: 32px;
    overflow: hidden;
}

.pageContainer a {
    height: 100%;
    width: 100%;
    margin: 10px;
}

.page {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
}

.pagesAndDesc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
}
.description {
    display: flex;
    font-size: 40px;
    margin: 30px;
}
#platforms {
    display: flex;
    position: absolute;
    gap: 1.5rem;
    bottom: 2rem;
    left: 2rem;
}