@font-face {
    font-family: 'ProggyClean';
    src: url(/src/assets/fonts/ProggyCleanNerdFont-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gallant';
    src: url(/src/assets/fonts/gallant12x22.ttf) format('truetype');
}

body {
    position: fixed;
    overflow: hidden;
    background-color: gray;
}

#date {
    display: flex;
    font-family: Gallant, monospace;
    font-size: 32px;
    margin-left: 2%;
    margin-top: 2%;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    border-style: solid;
    border-width: 10px;
    border-color: #726485 #2a2531 #2a2531 #726485;
    background-color: darkgray;
}

#content {
    display: flex;
    font-family: Gallant, monospace;
    font-size: 28px;
    margin: 1%;
    padding: 0.5em;
    border-style: solid;
    border-width: 10px;
    border-color: #726485 #2a2531 #2a2531 #726485;
    background-color: darkgray;
}
#disclaimer {
    justify-content: center;

}