@font-face {
    font-family: 'ProggyClean';
    src: url(/src/assets/fonts/ProggyCleanNerdFont-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gallant';
    src: url(/src/assets/fonts/gallant12x22.ttf) format('truetype');
}

body {
    position: fixed;
    overflow: hidden;
    background-color: gray;
    height: 100%;
    width: 100%;
}

#date {
    display: flex;
    font-family: Gallant, monospace;
    font-size: 32px;
    margin-left: 2%;
    margin-top: 2%;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    border-style: solid;
    border-width: 10px;
    border-color: #726485 #2a2531 #2a2531 #726485;
    background-color: darkgray;
}

#content {
    display: flex;
    font-family: Gallant, monospace;
    font-size: 100%;
    margin: 1%;
    padding: 0.5em;
    border-style: solid;
    border-width: 10px;
    border-color: #726485 #2a2531 #2a2531 #726485;
    background-color: darkgray;
    overflow: hidden;
}

.closeWndwContainer {
    display: flex;
    justify-content: end;
    margin: 1%;
    font-size: 190%;
    color: black;
    top: 10%;
}

.closeWndw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border: 3px outset pink;
    background-color: gainsboro;
    transition: background-color 500ms;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
}


.closeWndw:hover {
    background-color: #bfbfbf;
    cursor: default;
}

.closeWndw:active {
    background-color: #b4b4b4;
}