@font-face {
    font-family: 'ProggyClean';
    src: url(assets/fonts/ProggyCleanNerdFont-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Gallant';
    src: url(assets/fonts/gallant12x22.ttf) format('truetype');
}

.shortcut {
    position: relative;
    height: 3.5em;
    width: 3.5em;
    background-color: grey;
}

.body {
    background-image: url("assets/images/LSTR.webp");
}

.desktopWindow {
    position: absolute;
    height: 35em;
    width: 50em;
    background-color: powderblue;
    color: white;
    opacity: 100%;
    left: 50%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    top: calc(50% - (35em * 0.5));
    left: calc(50% - (50em * 0.5));
}

.dragWM {
    height: 2.25em;
    width: 50em;
    color: black;
    background-color: white;
    font-family: 'Gallant';
    user-select: none;
    border-radius: 4px 4px 0px 0px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.closeWndw {
    height: 2.25em;
    width: 5em;
    float: right;
    border-color: black;
    border-width: 2px;
    border-radius: 0px 4px 0px 0px;
    text-align: center;
}
#taskbar {
    background-color: gray;
    height: 10%;
    width: 100%;
}