@font-face {
    font-family: 'ProggyClean';
    src: url(assets/fonts/ProggyCleanNerdFont-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Gallant';
    src: url(assets/fonts/gallant12x22.ttf) format('truetype');
}

.shortcut {
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    background-color: grey;
}

.body {
    background-image: url("assets/images/LSTR.webp");
}

.desktopWindow {
    display: flex;
    border: 1px solid #8a5375;
    position: absolute;
    height: 35rem;
    width: 50rem;
    background-color: #2a2531;
    color: white;
    opacity: 100%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    top: calc(50% - (35rem * 0.5));
    left: calc(50% - (50rem * 0.5));
    backdrop-filter: blur(5px);
}

.dragWM {
    display: flex;
    height: 2.75rem;
    width: 50rem;
    color: palevioletred;
    background-color: #2a2531;
    user-select: none;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-family: Gallant, monospace;
    font-size: 25px;
    -webkit-font-smoothing: none;
    gap: 10px;
    border-bottom: 1px solid #8a5375;
    padding-left: 10px;
    padding-right: 5px;
}
.closeWndw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.75rem;
    width: 2.75rem;
    border-left: 1px solid #8a5375;
}
#taskbar {
    display: flex;
    background-color: #8a5375;
    height: 10%;
    width: 100%;
    font-family: proggyclean, monospace;
}
.lineContainer {
    flex-grow: 1;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    vertical-align: top;
}

.line {
    display: flex;
    background-color: #8a5375;
    width: 100%;
    height: 1px;
    gap: 2px;
}