@font-face {
    font-family: 'ProggyClean';
    src: url(assets/fonts/ProggyCleanNerdFont-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gallant';
    src: url(assets/fonts/gallant12x22.ttf) format('truetype');
}

body {
    position: fixed;
    margin: 0px;
    overflow: hidden;
    scrollbar-width: none;
    width: 100vw;
    height: 100vh;
    
}

#bodyBG {
    margin: 0px;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/wallpapers/meowbularender-palletised.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    image-rendering: pixelated;
}

strong {
    font-size: 22px;
}

/*class tags*/
.shortcutBG {
    display: flex;
    margin: 1rem;
    position: absolute;
    gap: 1rem;
    height: 100%;
    width: 100%;
    background-color: gainsboro;
    transition: opacity 250ms;
    opacity: 8%;
}

.shortcutBG:hover {
    opacity: 25%;
}

.shortcutBG:active {
    opacity: 18%;
}

.shortcut {
    display: flex;
    margin: 1rem;
    position: relative;
    gap: 1rem;
    height: 5rem;
    width: 5rem;
    -webkit-user-select: none;
    user-select: none;
    font-family: Gallant, monospace;
    color: gainsboro;
    justify-content: end;
    align-items: center;
    flex-direction: column; 
    text-align: end;
    image-rendering: pixelated;
}

.shortcut img {
    position: absolute;
    bottom: 45%;
}


.desktopWndw {
    display: none;
    border: 1px solid #8a5375;
    position: absolute;
    height: 36rem;
    width: 64rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    top: calc(50% - (36rem * 0.5));
    left: calc(50% - (64rem * 0.5));
}

.dragWM {
    display: flex;
    height: 8%;
    width: 100%;
    color: palevioletred;
    background-color: #2a2531;
    -webkit-user-select: none;
    user-select: none;
    justify-content: center;
    align-items: center;
    font-family: Gallant, monospace;
    font-size: 25px;
    -webkit-font-smoothing: none;
    border-bottom: 1px solid #8a5375;
    flex-direction: row;
}

.titleContainer {
    display: flex;
    position: relative;
}

.closeWndw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border: 3px outset pink;
    background-color: gainsboro;
    transition: background-color 500ms;
    margin-right: 6px;
}
.closeWndw:hover {
    background-color: #bfbfbf;
}

.closeWndw:active {
    background-color: #b4b4b4;
}

.windowPG {
    display: flex;
    position: absolute;
    transform: translate(50%, 50%);
    width: 100%;
    height: 92%;
    bottom: 45.95%;
    right: 50%;
}

.windowPG h1 {
    margin: 25px;
    font-family: ProggyClean, monospace;
    font-size: larger;
}

.windowPG #avatar {
    margin: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
}

.lineContainer {
    flex-grow: 1;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}

.lineHorizontal {
    display: flex;
    background-color: #8a5375;
    width: 100%;
    height: 1px;
    gap: 2px;
}

.albumCover {
    width: 144px;
    border-style: solid;
    border-width: 5px;
    border-color: #8a5375 #5c374e #5c374e #8a5375;
    -webkit-user-select: none;
    user-select: none;
    max-height: 144px;
    max-width: 144px;
}

.albumCoverContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*id tags*/

#taskbar {
    display: flex;
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    background-color: #8a5375;
    height: 5%;
    width: 99%;
    font-family: proggyclean, monospace;
    border-style: solid;
    border-width: 3px;
    border-color: #726485 #2a2531 #2a2531 #726485;
}

#clockContainer {
    display: flex;
    height: 100%;
    margin: 5px;
    background-color: #8a5375;
    transition: opacity 150ms;
}

#clockContainer:hover
{
    opacity: 55%;
}

#clockContainer:active {
    background-color: #794967;
    opacity: 100%;
}


#localTime {
    display: flex;
    font-family: proggyclean, monospace;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    -webkit-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 3px;
    border-color: #726485 #2a2531 #2a2531 #726485;
}


#aboutMePG {
    background-color: black;
}

#avatar {
    -webkit-user-select: none;
    user-select: none;
}

#devicesPG {
    opacity: 65%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #2a2531;

}


#musicPG {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.35);
    overflow: auto;
}

#musicPG::-webkit-scrollbar {
    scrollbar-width: none;
}

#gamesPG {
    opacity: 65%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #2a2531;
}

#friendsPG {
    opacity: 65%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #2a2531;
}

#projectsPG {
    opacity: 65%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #2a2531;
}

#platforms {
    display: flex;
    position: absolute;
    gap: 1.5rem;
    bottom: 2rem;
    left: 2rem;
    -webkit-user-select: none;
    user-select: none;
}

